.app {
  margin: auto;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 1rem auto;
  color: rgb(70, 70, 70);
  width: fit-content;
  font-size: 2rem;
}

.form {
  background: rgb(250, 233, 226);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.input-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.permutate-btn {
  margin: 1rem;
}

.videos {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.videos li {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(250, 226, 229);
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}

.permutation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.permutation-row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permutation {
  margin: 0.5rem;
}

.download-btn {
  margin: 1rem auto;
}

.btn-highlight{
  background: rgb(215, 250, 215)
}
